{% extends 'base.html' %}

{% block content %}
<div class="container mt-5 mb-5">
    <h1 class="text-center">Bienvenue chez My Luxe Agence</h1>
    <p class="text-center mb-4">Découvrez avec nous les meilleurs hôtels et complexes hôteliers de luxe du monde entier.</p>
    <div class="row">
        <div class="col-lg-4 ">
            <div class="card shadow overflow-hidden" style="width: 18rem;">
                <img src="https://lepetitjournal.com/_next/image?url=https%3A%2F%2Fbackoffice.lepetitjournal.com%2Fsites%2Fdefault%2Ffiles%2F2023-04%2Flas-arenas-balneario-resort%25281%2529.jpg&w=750&q=75" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Hotel Las Arenas</h5>
                    <p class="card-text">Un hôtel de luxe situé à proximité de la plage, offrant des chambres spacieuses et des services exceptionnels.</p>
                    <a href="#" class="btn btn-warning">Visitez</a>
                    <a href="#" class="btn btn-success">Réservez</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card shadow overflow-hidden" style="width: 18rem;">
                <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/11/f7/6a/13/radisson-hotel-dakar.jpg?w=1200&h=-1&s=1" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Radisson Hotel Dakar</h5>
                    <p class="card-text">Un hôtel de luxe situé à Dakar, offrant des chambres élégantes et des services de premier plan et exclusifs.</p>
                    <a href="#" class="btn btn-warning">Visitez</a>
                    <a href="#" class="btn btn-success">Réservez</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card shadow overflow-hidden" style="width: 18rem;">
                <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/22/cc/31/7a/concorde-de-luxe-resort.jpg?w=700&h=-1&s=1" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Concorde de luxe resort</h5>
                    <p class="card-text">Un resort de luxe situé à proximité de la mer, offrant des chambres spacieuses et des services exceptionnels.</p>
                    <a href="#" class="btn btn-warning">Visitez</a>
                    <a href="#" class="btn btn-success">Réservez</a>
                </div>
            </div>
        </div>
    </div>
</div>    
{% endblock %}